<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/integration/Interop/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="interop">
            <directory suffix="Test.php">tests/integration/Interop</directory>
        </testsuite>
    </testsuites>
</phpunit>
